/*SECTION Body element styled using element selector - for entire website */
body {
    background-color: rgb(213, 212, 214);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
}

/*SECTION nav element styling (all 3 pages) - element and class selectors used */
.nav-style h3 {
    margin: 0;
    padding-bottom: 0.5rem;
    color: rgb(67, 60, 110);
}

.nav-style {
    background-color: rgb(201, 201, 205);
    padding: 10px;
}

.nav-style ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /*using flexbox */
    gap: 0.5rem;
}

li:hover {
    background-color: rgb(199, 192, 248);
}

.nav-style a {
    text-decoration: none;
    color: rgb(67, 60, 110);
}

/*SECTION Home page, top area styling - class, id and element selectors used  */
.top-area {
    text-align: center;
    padding: 1rem;
}

/* Note: button styling is same for Home and About pages */
#button-contents {
    margin: auto;
    padding: 2rem;
    font-size: medium;
    background-color: rgb(226, 223, 242);
    filter: drop-shadow(0 0 0.80rem rgb(139, 69, 197));
    border-radius: 4px;
}

/* this header element on Home page */
#button-contents h2 {
    color: orangered;
}

/* this header element on About page */
#button-contents h3 {
    color: rgb(17, 49, 32);
    margin: 0%;
}

#pumpkin {
    filter: drop-shadow(0 0 0.85rem orange);
    border-radius: 2px;
}

#running {
    filter: drop-shadow(0 0 0.85rem orange);
    border-radius: 2px;
}

/* Home page, bottom section styled using element, id and class selectors */
section {
    background: rgb(201, 201, 205);
}

#section-header {
    text-align: center;
    padding-top: 1rem;

}

.section-body {
    text-align: center;
    padding-bottom: 1rem;
}

.section-body ol {
    display: inline-block;
    text-align: left;
    margin: auto;
}

#bikeride {
    border-radius: 0.5rem;
    filter: drop-shadow(0 0 0.85rem rgb(17, 49, 32));
}

/* SECTION About page styled using same selectors for nav and button as Home page */
/* About page table element styled using class and element selectors  */
.table-header {
    text-align: center;
    margin-bottom: 0.4rem;
    color: rgb(17, 49, 32);
}

.table-favorites {
    margin: auto;
    border: 0.5rem solid;
    border-radius: 1rem;
    border-color: rgba(17, 49, 32, 0.3);
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    text-align: left;
    padding: 6px;
}

th {
    background-color: rgb(146, 163, 146);
}

tbody tr:hover {
    background-color: rgb(185, 186, 188);
    color: black;
}

/*SECTION Contact page styled using same selectors for nav element as the other pages */
/* Contact page styled using class, element and id selectors; using flexbox to 
properly line up two divs on the same line which contain a form and an image */
.flex-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.flex-container div {
    background-color: rgba(146, 163, 146, 0.5);
}

form {
    margin: 1.5rem;
}

form h3 {
    color: rgb(17, 49, 32);
}

input[type=text],
[type=submit] {
    border: 2px solid rgb(138, 88, 88);
    border-radius: 3px;
    background-color: rgb(215, 219, 223);
    padding: 6px;
    font-size: medium;
    font-weight: bold;
}

#image-hockey {
    margin: 1.5rem;
    filter: drop-shadow(0 0 0.75rem maroon);
    border-radius: 5px;
}